/* Title component */
.h1 {
  padding-top: 3rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-size: 2rem;
}

/* Subtitle component */
.h2 {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  font-weight: 550;
  letter-spacing: -0.5px;
  font-size: 1.45rem;
}

/* Header1 component */
.h3 {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.4px;
}

/* P component */
.p {
  color: var(--color-ui-60);
  font-size: 1.13rem;
  font-weight: 350;
}
.bold {
  font-weight: 500;
  color: var(--color-ui-100);
}
.small {
  font-size: 1.1rem;
}
.dark {
  color: var(--color-ui-100);
}
