.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 180px;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.donutCount {
  padding: 1rem 0;
}

.donutCountInfo {
  padding: 1rem 0;
  color: blue;
}

.dateSelect {
  padding: 1rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hobbies {
  padding-top: 1rem;
}

.floatie {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 76px;
  padding: 0 1rem 1rem 1rem;
}

.floatieInner {
  border: 1px solid var(--color-ui-10);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
  background: white;
}
