.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: calc(160px + 1rem);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.postPicture {
  width: 100%;
  position: relative;
  max-height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 0%;
}
.reactions {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.commentField {
  display: flex;
  padding: 1.5rem;
  position: fixed;
  bottom: 76px;
  background: white;
  border-style: solid none none none;
  border-width: 1px;
  border-color: var(--color-ui-10);
  width: 100vw;
  left: 0;
}
.commentField input[type="text"] {
  font-size: 1.1rem;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  flex-grow: 2;
  color: var(--color-ui-100);
}
.commentField input[type="text"]::placeholder {
  color: var(--color-ui-60);
}

.emojiStatsContainer {
  padding: 1rem 0;
}
.reactionsInput {
  background: #fff;
  color: black;
  display: inline;
  width: 200px;
}