.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 76px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.reactions {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
