.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 76px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.reactions {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.commentField {
  display: flex;
  padding: 1.5rem;
  position: fixed;
  bottom: 76px;
  background: white;
  border-style: solid none none none;
  border-width: 1px;
  border-color: var(--color-ui-10);
  width: 100vw;
  left: 0;
}
.commentField input[type="text"] {
  font-size: 1.1rem;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: var(--color-ui-100);
}
.commentField input[type="text"]::placeholder {
  color: var(--color-ui-60);
}
