.container {
  border: 1px solid var(--color-ui-10);
  border-radius: 20px;
  padding: 1rem;
  background: white;
}
.container.borderless {
  padding: 0;
  border: none;
}

.top {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.donutAbout {
  display: flex;
  gap: 0.3rem;
}
